@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --blue: hsl(246, 80%, 60%);
  --orange-work: hsl(15, 100%, 70%);
  --blue-play: hsl(195, 74%, 62%);
  --red-study: hsl(348, 100%, 68%);
  --green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --orange-self-care: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--very-dark-blue);
  color: aliceblue;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-weight: 400;
}

p {
  font-size: 18px;
}

/* Header */
header {
  margin: 5% 3%;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

header h2 {
  font-weight: 400;
}

header .person-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 25%;
  margin: 5%;
  border: 5px solid aliceblue;
  border-radius: 50%;
}

.person-details {
  background-color: var(--blue);
  border-radius: 20px;
}

.person-name p {
  margin-bottom: 0;
}

.person-name h2 {
  margin-top: 5px;
}

/* NavBar */

nav {
  display: flex;
  padding: 5%;
  justify-content: space-between;
}

nav > * {
  color: var(--pale-blue);
  text-decoration: none;
}

.nav-item:hover {
  color: white;
}

/* Items  */
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 3%;
  border-radius: 20px;
}

.item-details {
  border-radius: 20px;
  background-color: var(--dark-blue);
}

.item-title,
.item-content {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-title h3 {
  margin-bottom: 0;
  font-weight: 400;
}

.item-content > * {
  margin-top: 10px;
}

.item .bkg-image {
  height: 50px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.item-work,
.bkg-image-work {
  background-color: var(--orange-work);
}

.item-play,
.bkg-image-play {
  background-color: var(--blue-play);
}

.item-study,
.bkg-image-study {
  background-color: var(--red-study);
}

.item-exercise,
.bkg-image-exercise {
  background-color: var(--green-exercise);
}

.item-social,
.bkg-image-social {
  background-color: var(--violet-social);
}

.item-self-care,
.bkg-image-self-care {
  background-color: var(--orange-self-care);
}

.bkg-image-work {
  background: url(images/icon-work.svg) right no-repeat;
}

.bkg-image-play {
  background: url(images/icon-play.svg) right no-repeat;
}

.bkg-image-study {
  background: url(images/icon-study.svg) right no-repeat;
}

.bkg-image-exercise {
  background: url(images/icon-exercise.svg) right no-repeat;
}

.bkg-image-social {
  background: url(images/icon-social.svg) right no-repeat;
}

.bkg-image-self-care {
  background: url(images/icon-self-care.svg) right no-repeat;
}

/* Media Query */
@media all and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  /* header */
  header {
    margin: 2%;
  }

  header > * {
    padding: 3%;
  }

  .person-details {
    display: flex;
    flex-direction: column;
  }

  /* navbar */
  nav {
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
  }

  /* Items */
  .item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .item-content p {
    margin-top: 0;
  }
}
